{% extends "impl.j2" %}
{% block summary %}
<p>Dit implementatiemodel documenteert hoe gegevens uit het <a hre="https://www.vlaanderen.be/digitaal-vlaanderen/onze-diensten-en-platformen/wegenregister">Wegenregister van Digitaal Vlaanderen</a> worden beschreven.</p>
<p>Het model conformeert aan het <a href="https://data.vlaanderen.be/doc/applicatieprofiel/wegennetwerk">AP Wegennetwerk</a> dat zich baseert op <a href="https://knowledge-base.inspire.ec.europa.eu/publications/inspire-data-specification-transport-networks-technical-guidelines_en">Transportnetwerken van INSPIRE</a>, meer bepaald op de onderdelen Netwerk, Transportnetwerk en Weg. </p>
<p>Het implementatiemodel laat uit dat AP weg wat voor het wegenregister niet noodzakelijk is. Het voegt ook een aantal zaken toe: de klasse GelijkgrondseKruising, het voertuigtype waarop de Transporteigenschap betrekking heeft, de opmetingsmethode van de Geometrie. </p>
<p>Ook zijn de root-klassen aangeduid en is aan die klassen metadata toegevoegd met het oog op versionering. Aangeduid werd tevens welke data niet wordt ingesloten maar waarnaar wordt gerefereerd. </p>
<p>De codelijsten zijn illustratief aan het diagram toegevoegd en gelinkt naar de overeenstemmende SKOS conceptschema's in de specificatie. </p>
{% endblock %}
